body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo-word {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo-word .logo-piece-up {
  color: #2e2f42;
}
.logo-word .logo-piece-down {
  color: #f4f4fd;
}

/*Header*/
header {
  background-color: #ffffff;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

nav .link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

nav .link:hover,
nav .link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}
address .contact {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

address .contact:hover,
address .contact:focus {
  color: #404bbf;
}

/***********/

/*Main*/
main {
  background-color: #ffffff;
}

h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.hero-text {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero {
  background-color: #2e2f42;
}

.hero-button {
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.team {
  background-color: #f4f4fd;
}
.worker {
  background-color: #ffffff;
}
.team-list .profesional {
  font-size: 16px;
}

/***********/

/*Fotter*/
footer {
  background-color: #2e2f42;
}

footer > p {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/***********/
